* {
  margin: 0;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
    45deg,
    #66757f,
    #00acee,
    #36d8ff,
    #f5f8fa,
    #ffffff
  );
  background-image: -webkit-linear-gradient(
    45deg,
    #66757f,
    #00acee,
    #36d8ff,
    #f5f8fa,
    #ffffff
  );
  background-image: -moz-linear-gradient(
    45deg,
    #66757f,
    #00acee,
    #36d8ff,
    #f5f8fa,
    #ffffff
  );
}

img {
  width: 100%;
}
#output img {
  max-width: 15rem;
  margin: 1rem;
}
.searchManImg {
  max-width: 7rem;
}

.searchButton {
  width: 5rem;
  margin-left: 4rem;
  margin-top: 8rem;
}
[type="search"] {
  max-width: 13rem;
  margin-top: 8rem;
}
#carouselOutputCaptions {
  margin-top: 5rem;
}
.carousel-caption {
  border: 2px solid black;
  background-color: #f5f8fa;
  opacity: 0.7;
  box-shadow: 5px 3px 6px #0029;
}
#carouselInnerOutput {
  max-width: 100%;
  max-height: 100%;
}
img {
  width: 100%;
}
.form-check .form-check-input {
  margin: 0 1rem;
}
.carousel-item {
  min-width: fit-content;
  max-height: 73vh;
}
